# Environments
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store

# Data & Models
source/data/
*.log

# Jupyter
.ipynb_checkpoints/

# Template beamer
slides/template_beamer

# Reference web (local only)
reference_web/
